html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */
/* 
.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
} */

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

/* .alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
} */

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */
/* 
.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
} */

input {
  margin: 5px;
  margin-bottom: 10px;
}

.container-gallery {
  margin: auto 4em;
}

.header-tabs {
  text-align: center;
  margin-top: 1em;
  font-size: 2.5em;
}

.form-group {
  margin: auto 4em;
}

.search-btns {
  margin-bottom: 2em;
}

.dlt-btn {
  margin-top: 2em;
}

.btn {
  border-radius: 0% !important;
}

.blindbag-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

#shuffle-img {
  height: 450px;
  width: 450px;
}

#datePicker {
  text-align: center;
}

.recordDetailsContainer,
.spinDetailsContainer {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 5em;
}

.coverArtContainer,
.spinCarouselContainer {
  margin-left: 20em;
  margin-top: 4em;
  flex: 50%;
}

.coverArt,
.spinCoverArt {
  width: 100%;
  max-width: 600px;
}

.textContent,
.spinTextContainer {
  flex: 50%;
  margin-top: 1em;
  font-size: xx-large;
  font-weight: bolder;
  margin-right: 4em;
}

.bg-primary {
  margin-right: 0.5em;
}

.buttonBar {
  margin-left: 4em;
  margin-right: 3em;
}

.deleteRecordBtn {
  margin-left: 1em;
}

.editRecordBtn {
  margin-right: 1em;
}

.spinsListItem {
  list-style: circle;
}

.record-clipart {
  margin-top: -4em;
  margin-bottom: -8em;
  width: 80%;
  height: auto;
  cursor: pointer;
}

.spinPageContainer,
.landingContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  flex-wrap: wrap;
}

.socialPageItems,
.spinPageItems,
.landingLogoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.socialPageText {
  font-size: xx-large;
  font-weight: bolder;
  margin-top: 1em;
  text-align: center;
}

.spinPageText {
  font-size: xx-large;
  font-weight: bolder;
  /* margin-top: 1em; */
  text-align: center;
  text-decoration: underline;
}

.spinDetailsText {
  font-size: 1.5em;
  text-align: center;
  text-wrap: anywhere;
}

/* Logo Container */
.infoLogoContainer {
  flex-basis: 50%;
  text-align: center;
}

.infoLogo {
  max-width: 400px;
  margin-top: 2em;
}

/* .infoTextContainer {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 3em;
  padding-right: 1em;
}

.infoHeaders {
  font-weight: bolder;
  font-size: 1.5em;
} */

ol > li {
  font-size: 1.25em;
}

#infoPills {
  font-size: 1.25em;
  cursor: pointer;
}

ul > li {
  list-style: circle;
  font-size: 1.25em;
}


#editRecordBackBtn,
#friendBackBtn {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1.8em;
  margin-left: 6.5em;
}

.landingLoginContainer {
  margin-top: 10em;
}

.LoadingSpinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  max-width: 500px;
  margin-top: 8em;
  margin-bottom: 4em;
  width: 100%;
  height: auto;
}

/* #filterBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
} */

#filterLabel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#addRecordBtn {
  width: 35%; /* Makes the button responsive */
  padding: 10px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
}

@media (max-width: 768px) {
  #addRecordBtn {
    padding: 8px;
    font-size: 14px;
    width: 100%;
  }
}

.socialPageContainer {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  margin: 2em 4em 4em;
}

.social-crate {
  width: 80%;
  height: auto;
  cursor: pointer;
}

body, .nav-link {
  background-color: #FFF; /* Light background */
  color: #000; /* Dark text */
}

/* Dark theme styles */
body.dark, body.dark h2{
  background-color: black; /* Dark background */
  color: #FFF; /* Light text */
}


body.dark .btn, body.dark #searchInput , body.dark #searchLabel{
  background-color: white;
  color: black;
  border: 2px solid black;
}