footer {
  margin-top: 6em;
  padding: 20px;
  text-align: center;
  font-size: 1.25em;
}

@media (max-width: 768px) {
  footer {
    margin-top: 3em; 
    padding: 10px;
    font-size: 1em; 
  }

  .footer .container nav a {
    margin: 0 5px; 
    padding: 5px 10px; 
    font-size: 0.9em; 
  }
}

@media (max-width: 480px) {
  .footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer .container nav a {
    margin: 5px 0;
    width: auto; 
  }
}