.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:black;
  overflow: hidden;
}

.nav-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-section.left {
  justify-content: flex-start;
  padding-left: 4em; 
}

.nav-section.right {
  justify-content: flex-end;
  padding-right: 4em;
}


.nav-title {
  margin: 0;
  color: #f2f2f2;
  padding: 0 10px; 
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: black;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
}

